* {
  margin: 0;
  outline: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url(https://www.wallpapertip.com/wmimgs/160-1604579_web-development.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.container {
  width: 600px;
  margin: 50px auto;
  background-color: rgba(61, 42, 68, 0.8);
  color: #d6e3dc;
  padding: 30px 20px;
  text-align: center;
  border-radius: 20px;
}

img {
  border-radius: 50%;
  border: 2px dashed #ff9aad;
}

h1 {
  font-family: "Farro", sans-serif;
  letter-spacing: 0.4vmin;
  font-size: 3rem;
  background-color: #8c448d;
  margin: 20px 0;
  border-radius: 7px;
}

h2 {
  font-size: 16px;
  margin: 20px 0;
}

iframe {
  margin: 20px 0;
}

p.social-links i {
  color: #fff;
  font-size: 28px;
  margin: 20px 0;
}

p.copyright {
  color: skyblue;
}
